<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>News Comp</title>
  </head>
  <body>
    <%= form_for :screenshot, method: :get do |f| %>
     <div class="input-group date">
      <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
      <%= f.text_field :date, :class => "form-control datepicker"%>
     </div>
     <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
    <div class="container">
      <div class="row">
        <% @screenshots.each do |shot| %>
          <div class="col-md-6">
            <img src="<%= shot.filename.url %>" alt="">
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
