// Place all the styles related to the Screenshot controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color:#324C51;
}
.align {
  text-align: center;
}

.search-bar {
  padding: 40px 0;
}

.shot-img {
  margin: 0 0 20px 0;
}

.jumbo-size {
  height: 150px;
  padding: 20px;
  background-color: #0D1F22;
  color: #E8E8E8;
}

.custom-container {
  width: 90%;
  margin: 0 auto;
}

.custom-container2 {
  width: 90%;
  margin: 0 auto;

}

.date-btn {
  margin-top: 10px;

}

.align-box {
  text-align: center;
  background-color: #253B3F;
  padding-top: 20px;
  margin: 20px auto;
  width: 446px;
}

.shot-title {
  font-size: 2em;
  border: 2px solid #eee;
  width: 412px;
  margin: 0 auto;
  background-color: white;
}

.date-pick {
  width: 66%;
  display: inline-table !important;
  vertical-align: middle;
}

.date-submit {
  width: 25%;

}

.btn-sample {
  color: #E8E8E8;
  background-color: #2F6872;
  border-color: #064540;
}

.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  color: #E8E8E8;
  background-color: #57A4B2;
  border-color: #064540;
}

.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  background-image: none;
}

.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
  background-color: #2F6872;
  border-color: #064540;
}

.btn-sample .badge {
  color: #2F6872;
  background-color: #E8E8E8;
}


@media screen and (min-width: 1650px) {
  .col-xl-4 {
    width: 33.3%;
  }
  .custom-container {
    width: 80%;
  }
}

@media screen and (min-width: 1550px) and (max-width: 1649px) {
  .custom-container {
    width: 60%;
  }
}

@media screen and (min-width: 1330px) and (max-width: 1549px) {
  .custom-container {
    width: 70%;
  }
}

@media screen and (min-width: 1155px) and (max-width: 1330px) {
  .custom-container {
    width: 80%;
  }
}

@media screen and (min-width: 1190px) {
  .custom-container2 {
    width: 70%;
  }
  .date-pick {
    width: 40%;
  }
  .date-submit {
    width: 15%;
  }
}

@media screen and (max-width: 1190px) {
  .select2 {
    width: 360px !important;
  }
  .custom-container2 {
    width: 360px;
  }


}

@media screen and (max-width: 960px) {
  #main-title {
    font-size: 53px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

}

@media screen and (max-width: 520px) {
  #main-title {
    font-size: 38px;

  }

}
